/* vim: ts=2 sw=2 expandtab
 */
.image-manipulation-button {
  padding: 0px;
}

/* No matter what I do, I can't get #custom-size-button to have 0 padding. This
 * is a hack but it works for now.
 */
menubutton button.toggle {
  padding: 0px;
}

image.mini {
  margin: 12px;
}

.rgb-button {
  padding: 0px;
}
